{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent":           [2, 4, {"SwitchCase": 1}],
        "react/jsx-indent": [2, 4, {"SwitchCase": 1}],
        "import/no-extraneous-dependencies": 0,
        "default-case": 0,
        "import/extensions": 0,
        "import/no-unresolved": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    }
}
